*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.containerFooter{
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal{
  width: 30%;
}

.horizontal hr{
  border-top: 1px solid #000000;
  margin-bottom: 40px;
}

.socialMedia{
  font-size: 25px;
}

.fa {
    width: 60px;
    color: black;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.5;
  }

  .verticalLine{
    border-left: 1px solid #000000;
    height: 50px;
    margin: 30px;
  }

  .newsletter{
    margin: 0 0 20px;
    font-size: 1rem;
    letter-spacing: 3px;
  }

  .newsletter p{
    text-transform: uppercase;
  }

  .newsletter input{
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 8px;
    background: #ffffff;
    letter-spacing: 3px;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.newsletter input:focus{
  outline: 0;
}

.submitButton:hover {
  background-color:#000000;
  color: #ffffff;
}

  .copyright {
    text-align: center;
  }

  .copyright p {
    font-size: 0.7rem;
    line-height: 1.6;
    letter-spacing: 3px;
  }

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/,0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
} 

-webkit-text-fill-color: #838B95 !important;


