body{
    background-color:#222222;
    font-family: 'Archivo', sans-serif;
  }
  
  
  /* Navigation Bar  */
  
  .navBar {
    list-style-type: none;
    text-align: right;
    padding: 7px;
  }
  
  .navBar li {
    padding: 10px;
    display: inline;
    
  }
  
  .navBar a {
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-weight: body;
    color:white; 
  }
  
  
  .navBar a:hover{
  color: #045757;
  }
  
  
  