*{
  margin: 0;
  box-sizing: border-box;
}

body{
    background-color:#222222;
    font-family: 'Archivo', sans-serif;
  }
  
  
  /* Navigation Bar  */
  
  .navBar {
    list-style-type: none;
    text-align: right;
    padding: 7px;
  }
  
  .navBar li {
    padding: 10px;
    display: inline;
    
  }
  .navBar a {
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-weight: body;
    color:white; 
  }
  
  .navBar a:hover{
  color: #045757;
  }
  
  
/* Footer  */

.containerFooter{
    justify-content: flex-end;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal{
  width: 30%;
}

.horizontal hr{
  border-top: 1px solid #000000;
  margin-bottom: 40px;
}

.socialMedia{
  font-size: 25px;
}

.fa {
    width: 60px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.5;
  }

  .verticalLine{
    border-left: 1px solid #ffffff;
    height: 50px;
    margin: 30px;
  }

  .newsletter{
    margin: 0 0 20px;
    font-size: 1rem;
    letter-spacing: 3px;
  }

  .newsletter p{
    text-transform: uppercase;
    color: #ffffff;
  }

  .newsletter input{
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 8px;
    background: #000000;
    letter-spacing: 3px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    color: #ffffff
}

.newsletter input:focus{
  outline: 0;
}

.submitButton:hover {
  background-color: #ffffff;
  color: #000000;
}

  .copyright {
    text-align: center;
  }

  .copyright p {
    font-size: 0.7rem;
    line-height: 1.6;
    letter-spacing: 3px;
    color: #ffffff;
  }


/* Artist List  */

  .header{
    color: #ffffff;
    text-align: center;
    margin: 100px 0 100px;
  }

  .artist-cards{
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
  }

  .cards{
    width: 200px;
  }

  .cards img{
    width: 100%;
  }

  .cards p{
    margin-top: 10px;
    color:#ffffff
  }

@media screen and (max-width: 400px) {
  .artist-cards{
    flex-wrap: wrap;
    margin-bottom: 90px;
}
.cards{
  margin-bottom: 50px;
}