*{
  margin: 0;
  box-sizing: border-box;
}

body{
    background-color:#222222;
    font-family: 'Archivo', sans-serif;
    color: #e4e4e4;
  }
  
  p{
    font-family: sans-serif;
    line-height: 1.5;
  }

  q{
    line-height: 2;
    text-align: center;
  }

.mainSection img{
  height: 80%;
  margin: auto;
  display: inline;
  border-style: solid;
}


/* Artist Page */


/* header */

.header{
  height: 15vh;
  text-align: center;
  /* border-style: solid; */
}

.header h1{
  margin: auto;
  padding-top: 15px;
  text-shadow: 2px 2px #414040;
}


hr{
  width: 30%;
  margin: auto;
  border: #044343;
}


.big-image{

  overflow: hidden;
  
}

.big-image img{
  width: 100%;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: flex-start; 

}

.card {
  width: 40%;
  padding: 15px;
  margin-top: 20px;
}


.card-quote{
  width: 40%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card h2{
  padding-top: 15px;
  padding-bottom: 10px;
}

.card p{
  text-align: justify;

}

.card img{
  width: 90%;
  text-align: center;
  align-items: center;

}

.spotify{
  align-content: right;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flex-container {
    flex-direction: column;
  }
}
  .card{
    width: 80%;
    margin: auto;
  }

  /* Navigation Bar  */
  
  .navBar {
    height: 10vh;
    list-style-type: none;
    text-align: right;
    padding: 20px;
  }
  
  .navBar li {
    padding: 10px;
    display: inline;
    
  }
  .navBar a {
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-weight: body;
    color: #e4e4e4;
  }
  
  .navBar a:hover{
  color: #045757;
  }
  
  
/* FOOTER  */

.containerFooter{
  justify-content: space-around;
  bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.horizontal{
  width: 100%;
  margin: auto;
}

.horizontal hr{
  border-top: 1px solid #044343;
  margin-bottom: 100px;
}

.socialMedia{
  font-size: 25px;
}

.fa {
    width: 60px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.5;
  }

  .verticalLine{
    border-left: 1px solid #044343;
    height: 50px;
    margin: 30px;
  }

  .newsletter{
    margin: 0 0 20px;
    font-size: 1rem;
    letter-spacing: 3px;
  }

  .newsletter p{
    text-transform: uppercase;
  }

  .newsletter input{
    border-radius: 20px;
    padding: 8px;
    background: #ffffff;
    letter-spacing: 1.5px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    transition: background-color 0.5s;
}

.newsletter input:focus{
  outline: 0;
}

.submitButton:hover {
  background-color:#000000;
  color: #ffffff;
}

  .copyright {
    text-align: center;
  }

  .copyright p {
    font-size: 0.7rem;
    line-height: 1.6;
    letter-spacing: 3px;
  }


/* ARTIST LIST PAGE  */

  .header{
    color: #ffffff;
    text-align: center;
    margin: 100px 0 100px;
  }

  .artist-cards{
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
  }

  .cards{
    width: 200px;
  }

  .cards img{
    width: 100%;
  }

  .cards p{
    margin-top: 10px;
    color:#ffffff
  }

  @media screen and (max-width: 900px) {
    .artist-cards{
      flex-wrap: wrap;
      margin-bottom: 90px;
    }
    .cards{
    margin-bottom: 50px;
    }
    
    .containerFooter{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      bottom: 10px;
      width: 100%;
     }

     /* .aboutUs{
       flex-wrap: wrap;
       margin: 30px;
     }

     .aboutUs_picture{
       margin-bottom: 50px;
     } */

     .formContainer form{
       flex-wrap: wrap;
       width: 90vw;
     }

     .formElements{
      align-items: center;
    }

    .formContainer input[type="submit"]{
      width: 60vw;
    }
}

/* Home Page */

.main-section {
    width: 100%;
}

.main-section img {
    width: 50%;
    transform: translate(50%, -0.5%);
}

.main-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.featured-musician img {
    width: 50%;
    padding: 10px;
}

.main-descript p {
    color: floralwhite;
}

a.btn {
    text-decoration: none;
    margin: 0 0 20px;
    font-size: 1rem;
    letter-spacing: 3px;
    background-color: white;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #000000;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    width: 50%;
    transform: translate(50%, -50%);
}

a.btn:hover {
    background-color: black;
    color: white;
}

/* ABOUT US PAGE */

/* ABOUT US SECTION TO DELETE */

/* .aboutUs{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 150px;
}

.aboutUs_picture{
  width: 500px;
}

.aboutUs_picture img{
  width: 100%;
}

.aboutUs p{
width: 500px;
}

 */

/* ABOUT US CONTACT FORM */

.formContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 0;

}

.formElements{
  display: flex;
  flex-direction: column;
  width: 30vw;
  text-transform: uppercase;
  letter-spacing: 3px;
}

label, input, textarea{
  padding: 10px;
}

input, textarea{
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 8px;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
}

textarea{
	height: 100px;	
	resize: none; 
  overflow: auto;
  font-size: 1.1rem;
}

.formContainer input[type="submit"]{
	cursor: pointer;
	margin-top: 30px;
	font-size: 1rem;
  transition: background-color 0.5s;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
}

input[type="submit"]:focus{
  outline: 0;
}

input[type="submit"]:hover {
  background-color:#000000;
  color: #ffffff;
} 

 h3{
  margin-top: -100px;
  margin-bottom: 50px;
}